@import url("https://fonts.googleapis.com/css?family=Comic+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  --primary-color: crimson;
  --bg-primary: lavenderblush;
  font-family: "Comic Neue", cursive;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: var(--primary-color);
  color: var(--bg-primary);
  height: 300px;
}

.header h1 {
  font-size: 8rem;
  text-align: center;
  transform: translateY(100px);
}

.header button {
  border: solid 3px var(--bg-primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 100px;
  transform: translateY(116px);
}

.wall {
  width: 100vw;
  padding: 10px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 20, 60, 0.2);
  align-items: center;
  padding: 20px;
  box-shadow: 2px 2px 10px 0px;
}

.card img {
  width: 90%;
  height: auto;
  max-height: 300px;
  border-radius: 2px;
  padding: 10px;
  object-fit: cover;
}

.card h3 {
  font-size: 2rem;
}

.card .btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: var(--primary-color);
  color: var(--bg-primary);
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
}

button:hover {
  background-color: rgba(220, 20, 60, 0.8);
  cursor: pointer;
}

.btn-container button:focus {
  animation: click 0.3s;
}

form {
  width: 100vw;
  padding: 20px 10vw;
  background-color: rgba(220, 20, 60, 0.2);
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  padding-left: 20px;
  width: 50vw;
  display: flex;
  border: solid 2px var(--bg-primary);
  margin: 10px 0;
}

label {
  flex: 1;
  align-self: center;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  flex: 3;
  border: none;
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  .wall {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .wall {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .header {
    height: 200px;
  }
  .header h1 {
    font-size: 3rem;
    transform: translateY(50px);
  }
  .header button {
    border: solid 3px var(--bg-primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transform: translate(50px, 110px);
  }
  form {
    padding: 20px 10px;
    height: calc(100vh - 200px);
  }

  .form-group {
    display: flex;
    border: solid 2px var(--bg-primary);
    margin: 10px 0;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
  }

  label {
    flex: 1;
    flex-basis: 100%;
    align-self: center;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  input {
    flex: 3;
    border: none;
    padding: 20px;
  }
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
